.header__logo {
    display: flex;
    margin-bottom: 33px;
    margin-top: 40px;
    width: 142px;
    height: 43px;
}

.header__logo:hover {
    opacity: 0.8;
}

@media (max-width: 750px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin: 28px auto 32px 27px;
    }
}