.popup__button {
    background-color: #000;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: Inter,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 50px;
    line-height: 22px;
    margin: 0px 36px 36px;
    text-align: center;
    width: 358px;
}

.popup__button:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

@media (max-width: 750px) {
    .popup__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}