.add-popup__container {
    background-color: #fff;
    border-radius: 10px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    align-self: center;
}

@media (max-width: 750px) {
    .add-popup__container {
        width: 282px;
    }
}