.profile__info-edit-button-image {
    padding: 7px;
}

@media (max-width: 950px) {
    .profile__info-edit-button-image {
        padding: 5.25px;
        width: 7.5px;
        height: 7.5px;
        margin-top: 3px;
    }
}

@media (max-width: 750px) {
    .profile__info-edit-button-image {
        margin-top: 0;
    }
}