.auth-form__button-text {
    color: #000;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}