.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 880px;
    margin: 42px 200px 0px;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media (max-width: 750px) {
    .header {
        max-width: 320px;
        margin: 28px 0 42px 0;
    }
}