.auth-form__login {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}